[all:vars]
ec2_vpc_id = {{ ec2_vpc.id }}
ec2_public_subnet_id = {{ ec2_public_subnet.id }}
opencontrail_public_subnet = {{ k8s_public_subnet }}
opencontrail_service_addresses = {{ k8s_service_addresses }}

[deployer]
{{ k8s_management.tagged_instances[0].public_dns_name }} id={{ k8s_management.tagged_instances[0].id }} ansible_ssh_user=ubuntu

[masters]
{% for instance in k8s_master.tagged_instances %}
k8s-master-{{ loop.index }} id={{ instance.id }}
{% endfor %}

[gateways]
{% for instance in k8s_gateway.tagged_instances %}
k8s-gateway-{{ loop.index }} id={{ instance.id }}
{% endfor %}

[nodes]
{% for instance in k8s_nodes.tagged_instances %}
k8s-node-{{ loop.index }} id={{ instance.id }}
{% endfor %}

