[Unit]
Description=OpenContrail Cassandra database
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=/usr/bin/docker pull cassandra:2.2.0
ExecStartPre=-/usr/bin/docker rm opencontrail-config-db
ExecStart=/usr/bin/docker run --name opencontrail-config-db --net=host -v /var/lib/cassandra:/var/lib/cassandra:Z -e CASSANDRA_CLUSTER_NAME=OpenContrail-config cassandra:2.2.0 /bin/sh -c "sed -ri 's/^(start_rpc:) .*/\\1 true/' /etc/cassandra/cassandra.yaml && /docker-entrypoint.sh cassandra -f"
ExecStop=/usr/bin/docker kill opencontrail-config-db
#ExecStop=/usr/bin/docker rm opencontrail-config-db
#Restart=on-failure

[Install]
WantedBy=multi-user.target
